@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #666060;
}

/* h1,h2*/

h1, h2 {
    font-family: 'Gemunu Libre', sans-serif;
    color: #FDFF00;
    font-size: 250%;
    letter-spacing: 2px; 
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 120%;
}

/* Header */

#logo {
    float: left;
    margin-left: 1%;
    filter: drop-shadow(8px 8px 4px #bbbb18);
}

#logo, #menu {
    line-height: 50px;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 35px;
    font-size: 120%;
}

#menu a {
    text-decoration: none;
    color: #FDFF00;
    letter-spacing: 2px;
}

#menu a:hover {
    border-bottom: 2px solid #FDFF00;
}

.active {
    border-bottom: 1px solid #FDFF00;
}

/* Index image */

#pic-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

.main-pic{
    height: 600px;
    width: 100%;
    background: url('../images/index-picture.jpg') no-repeat center center;

}
/* Ethos */

#ethos {
    width: 100%;
    text-align: center;
}

#ethos h1 {
    padding-top: 1%;
}

#ethos p {
    width: 80%;
    padding: 1% 10%;
}

/* About */

.about {
    height: 600px;
    width: 100%;
}

#about-heading {
    text-align: center;
    padding-top: 30px;
}

#left-about {
    padding: 30px;
    width: 33%;
    float: left;
    text-align: center;
}

#right-about {
    padding: 30px;
    width: 33%;
    float: right;
    text-align: center;
}

#center-about {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
}

#center-about h2 {
    text-align: center;
}

hr {
    border-top: 2px solid #FDFF00;
    width: 60%;
    margin: 5px 20% 0 20%;
}
