@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #666060;
}

/* Header */

#logo {
    float: left;
    font-family: 'Gemunu Libre', sans-serif;
    color: #FDFF00;
    font-size: 250%;
    letter-spacing: 2px; 
    margin-left: 1%;
    filter: drop-shadow(8px 8px 4px #bbbb18);
}

#logo, #menu {
    line-height: 50px;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 35px;
    font-size: 120%;
}

#menu a {
    text-decoration: none;
    color: #FDFF00;
    letter-spacing: 2px;
}

#menu a:hover {
    border-bottom: 2px solid #FDFF00;
}

.active {
    border-bottom: 1px solid #FDFF00;
}

/* Index image */

#pic-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

.main-pic{
    height: 600px;
    width: 100%;
    background: url('../images/index-picture.jpg') no-repeat center center;

    /* animates effect on loading page */
    animation-name: index-pic;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes index-pic {
    from {
        transform: matrix(1, 2, 3, 4, 5, 6);
    }
    to {
        transform: matrix(1);
    }
}